<link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
@model HGSModel.Bed

@{
    ViewData["Title"] = "Editar Cama";
}

<div class="title">EDITAR CAMA</div>

<div class="row">
    <div class="col">
        <div class="data">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group mt-3">
                    <label asp-for="AreaSucursalId" class="control-label">ESPECIALIDAD</label>
                    <select asp-for="AreaSucursalId" class="mi-selector" asp-items="@Model.AreaSucursals"></select>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Size" class="control-label">TAMAÑO</label>
                    <select asp-for="Size" class="select" asp-items="@Model.Sizes"></select>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Annotations" class="control-label">ANOTACIONES</label>
                    <input asp-for="Annotations" placeholder="Ingrese alguna anotación de la cama" class="form-control" />
                    <span asp-validation-for="Annotations" class="warning-message"></span>
                </div>
                
                <div class="form-group d-grid gap-2 mt-3">
                    <input type="submit" value="Guardar Cambios" class="btn btn-light" />
                </div>
            </form>
        </div>
    </div>
</div>

<div style="padding: 30px;">
    <a asp-action="List">
        <input type="submit" value="↻ Regresar" class="btn btn-dark" style="width:200px;" />
    </a>
</div>

@if (@ViewData["Response"] != null)
{
    @if (@ViewData["Response"].Equals("Success"))
    {
        <script>
            function Error() {
                Swal.fire('OK', '¡Cama modificada existosamente!', 'success');
            }
        </script>
    }
    else if (@ViewData["Response"].Equals("Unsuccessfully"))
    {
        <script>
            function Error() {
                Swal.fire('Advertencia', '¡Esta Cama ya ha sido ingresada!', 'info');
            }
        </script>
    }
    else if (@ViewData["Response"].Equals("Error"))
    {
        <script>
            function Error() {
                Swal.fire('Error', 'Ha ocurrido un error inesperado', 'error');
            }
        </script>
    }
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        jQuery(document).ready(function ($) {
            $(document).ready(function () {
                $('.mi-selector').select2();
            });
        });
    </script>
}