<link rel="stylesheet" href="~/css/createView.css" asp-append-version="true" />
@model HGSModel.Doctor

@{
    ViewData["Title"] = "Añadir Doctor";
}

<div class="title">AÑADIR DOCTOR</div>

<div class="row">
    <div class="col">
        <div class="formContainer">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CollegiateNumber" class="control-label">NÚMERO DE COLEGIADO</label>
                    <input asp-for="CollegiateNumber" placeholder="Ingrese número de colegiado del doctor" class="form-control" />
                    <span asp-validation-for="CollegiateNumber" class="warning-message"></span>
                </div>                
                <div class="form-group mt-3">
                    <label asp-for="Password" class="control-label">CONTRASEÑA</label>
                    <input asp-for="Password" type="password" placeholder="Ingrese contraseña del doctor" class="form-control" />
                    <span asp-validation-for="Password" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="ConfirmedPassword" class="control-label">CONFIRMAR CONTRASEÑA</label>
                    <input asp-for="ConfirmedPassword" type="password" placeholder="Confirme contraseña del doctor" class="form-control" />
                    <span asp-validation-for="ConfirmedPassword" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Dpi" class="control-label">DPI</label>
                    <input asp-for="Dpi" placeholder="Ingrese DPI del doctor" class="form-control" />
                    <span asp-validation-for="Dpi" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Name" class="control-label">NOMBRE</label>
                    <input asp-for="Name" placeholder="Ingrese nombre del doctor" class="form-control" />
                    <span asp-validation-for="Name" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Lastname" class="control-label">APELLIDO</label>
                    <input asp-for="Lastname" placeholder="Ingrese apellido del doctor" class="form-control" />
                    <span asp-validation-for="Lastname" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Birthdate" class="control-label">FECHA DE NACIMIENTO</label>
                    <input asp-for="Birthdate" type="date" class="form-control" />
                    <span asp-validation-for="Birthdate" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="SpecialtyId" class="control-label">ESPECIALIDAD</label>
                    <select asp-for="SpecialtyId" class="select" asp-items="@Model.Specialities"></select>
                </div>
                <div class="form-group d-grid gap-2 mt-3">
                    <input type="submit" value="Añadir Doctor" class="btn btn-light" />
                </div>
            </form>
        </div>
    </div>

    <div class="col" style="flex-direction:column;padding: 30px;">
        <div class="information">
            Acá puede agregar un Doctor. Cada Doctor del hospital HGS debe tener una cuenta en el Sistema
            para que se le puedan asignar Pacientes y pueda llevar un control de ellos. Debe definir una
            contraseña para el usuario del Doctor (el usuario se generará automáticamente). <b>Solamente
                comparta el usuario y contraseña con el Doctor correspondiente.
            </b>
        </div>
        <div>
            <a asp-action="List">
                <input type="submit" value="↻ Regresar" class="btn btn-dark" style="width:200px;" />
            </a>
        </div>
    </div>

</div>

@if (@ViewData["Response"] != null)
{
    @if (@ViewData["Response"].ToString().Equals("InconsistentPassword"))
    {
        <script>
            function Error() {
                Swal.fire('Incorrecto', 'La contraseña no es la misma', 'info');
            }
        </script>
    }
    else if (@ViewData["Response"].ToString().Equals("Success"))
    {
        <script>
            function Error() {
                Swal.fire('OK', '¡Doctor ingresado existosamente!', 'success');
            }
        </script>
    }
    else if (@ViewData["Response"].ToString().Equals("Unsuccessfully"))
    {
        <script>
            function Error() {
                Swal.fire('Advertencia', '¡Este Doctor ya ha sido ingresado!', 'info');
            }
        </script>
    }
    else if (@ViewData["Response"].ToString().Equals("IsPatient"))
    {
        <script>
            function Error() {
                Swal.fire('Advertencia', 'Un Paciente no puede ser Doctor', 'info');
            }
        </script>
    }
    else if (@ViewData["Response"].ToString().Equals("Error"))
    {
        <script>
            function Error() {
                Swal.fire('Error', 'Ha ocurrido un error inesperado', 'error');
            }
        </script>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}