@model HGSModel.Doctor

@{
    ViewData["Title"] = "Editar Doctor";
}

<div class="title">EDITAR DOCTOR</div>

<div class="row">
    <div class="col" style="display:flex;align-items:center;justify-content:center;">
        <div class="data">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="CollegiateNumber" class="control-label">NÚMERO DE COLEGIADO</label>
                    <input asp-for="CollegiateNumber" readonly placeholder="Ingrese número de colegiado del doctor" class="form-control" />
                    <span asp-validation-for="CollegiateNumber" class="warning-message"></span>
                </div>
                @*<div class="form-group mt-3">
                <label asp-for="User" class="control-label">USUARIO</label>
                <input asp-for="User" placeholder="Ingrese nombre de usuario del doctor" class="form-control" />
                <span asp-validation-for="User" class="warning-message"></span>
                </div>*@
                <div class="form-group mt-3">
                    <label asp-for="Password" class="control-label">CONTRASEÑA</label>
                    <input asp-for="Password" placeholder="Ingrese contraseña del doctor" class="form-control" />
                    <span asp-validation-for="Password" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="ConfirmedPassword" class="control-label">CONFIMAR CONTRASEÑA</label>
                    <input asp-for="ConfirmedPassword"  placeholder="Confirme contraseña del doctor" class="form-control" />
                    <span asp-validation-for="ConfirmedPassword" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Dpi" class="control-label">DPI</label>
                    <input asp-for="Dpi" readonly placeholder="Ingrese DPI del doctor" class="form-control" />
                    <span asp-validation-for="Dpi" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Name" class="control-label">NOMBRE</label>
                    <input asp-for="Name" placeholder="Ingrese nombre del doctor" class="form-control" />
                    <span asp-validation-for="Name" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Lastname" class="control-label">APELLIDO</label>
                    <input asp-for="Lastname" placeholder="Ingrese apellido del doctor" class="form-control" />
                    <span asp-validation-for="Lastname" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Birthdate" class="control-label">FECHA DE NACIMIENTO</label>
                    <input asp-for="Birthdate" type="date" class="form-control" />
                    <span asp-validation-for="Birthdate" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="SpecialtyId" class="control-label">ESPECIALIDAD</label>
                    <select asp-for="SpecialtyId" class="select" asp-items="@Model.Specialities"></select>
                </div>
                <div class="form-group d-grid gap-2 mt-3">
                    <input type="submit" value="Guardar Cambios" class="btn btn-light" />
                </div>
            </form>
        </div>
    </div>
</div>

@if (@ViewData["Response"] != null)
{
    @if (@ViewData["Response"].ToString().Equals("InconsistentPassword"))
    {
        <script>
            function Error() {
                Swal.fire('Incorrecto', 'La contraseña no es la misma', 'info');
            }
        </script>
    }
    else if (@ViewData["Response"].ToString().Equals("Success"))
    {
        <script>
            function Error() {
                Swal.fire('OK', '¡Doctor modificado existosamente!', 'success');
            }
        </script>
    }
    else if (@ViewData["Response"].ToString().Equals("Unsuccessfully"))
    {
        <script>
            function Error() {
                Swal.fire('Advertencia', '¡Este Doctor ya ha sido ingresado!', 'info');
            }
        </script>
    }
    else if (@ViewData["Response"].ToString().Equals("Error"))
    {
        <script>
            function Error() {
                Swal.fire('Error', 'Ha ocurrido un error inesperado', 'error');
            }
        </script>
    }
}

<style type="text/css">
    .title {
        padding: 20px;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        border-bottom: 5px solid #000;
    }

    .control-label {
        color: #FFF;
        font-weight: bold;
    }

    .select {
        display: flex;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: none;
        text-transform: capitalize;
        color: #fff;
        background: #292929;
        text-align: center;
    }

    .data {
        width: 550px;
        padding: 50px;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: #FE903F;
    }

    .col {
        border-bottom: 5px solid #000;
    }
</style>

<div style="padding: 30px;">
    <a asp-action="List">
        <input type="submit" value="↻ Regresar" class="btn btn-dark" style="width:200px;" />
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
